<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j" >

<div id="iteration_list_view_item_#{_iteration.slug}" class="inline_cell_item" >
  <div class="list_view_header">
    <a4j:form>  
    <div class="menu_items">
      <s:link
      	value="#{messages['jsf.ConfigFile']}"
      	title="#{messages['jsf.GenerateProjectConfig']}"
      	action="#{configurationAction.getData}">
	    <f:param name="iterationSlug" value="#{_iteration.slug}"/>
        <f:param name="projectSlug" value="#{projectHome.instance.slug}"/>
      </s:link>	
      <rich:spacer width="10px" />
      <s:link view="/project/iteration_status.xhtml" propagation="none" value="#{messages['jsf.Statistics']}">
        <f:param name="iterationSlug" value="#{_iteration.slug}"/>
        <f:param name="projectSlug" value="#{projectHome.instance.slug}"/>
      </s:link>
      <rich:spacer width="10px" />
      <s:link view="/project/iteration_edit.xhtml" propagation="none" rendered="#{s:hasPermission(_iteration, 'update')}" value="#{messages['jsf.EditVersion']}">
        <f:param name="slug" value="#{_iteration.slug}"/>
        <f:param name="projectSlug" value="#{projectHome.instance.slug}"/>
      </s:link>
      <rich:spacer width="10px" />
      
      <a4j:commandLink action="#{projectIterationAction.markProjectIterationObsolete(_iteration)}" 
                             reRender="main_content" rendered="#{projectIterationAction.checkViewObsoleteOption() and !_iteration.obsolete}" >
                            #{messages['jsf.MarkObsolete']}
      </a4j:commandLink>
        
      <a4j:commandLink action="#{projectIterationAction.markProjectIterationCurrent(_iteration)}" 
                             reRender="main_content" rendered="#{projectIterationAction.checkViewObsoleteOption() and _iteration.obsolete}" >
                            #{messages['jsf.MarkCurrent']}
      </a4j:commandLink>
    </div>
    </a4j:form>     
  </div>

  <rich:dataTable id="data_table" width="100%" value="#{iterationTranslationAction.getTranslationLocale(projectHome.instance.slug, _iteration.slug)}"
                  var="tribe"
                  styleClass="iteration_inline_tribes"
                  rowClasses="odd,even">
    <rich:column id="locale_id">#{tribe.retrieveNativeName()} [#{tribe.localeId.id}]</rich:column>
    <rich:column id="translate">
      <h:outputLink
          rendered="#{s:hasPermission(projectHome.instance, 'modify-translation', tribe) and !applicationConfiguration.debug}"
          target="_blank"
          value="#{request.contextPath}/webtrans/Application.html">
		<f:param name="project" value="#{_iteration.project.slug}"/>
		<f:param name="iteration" value="#{_iteration.slug}"/>
		<f:param name="localeId" value="#{tribe.localeId.id}"/>
		<f:param name="locale" value="#{locale.language}" />
		#{messages['jsf.Translate']}
      </h:outputLink>
      <h:outputLink
          rendered="#{s:hasPermission(projectHome.instance, 'modify-translation', tribe) and applicationConfiguration.debug}"
          target="_blank"
          value="#{request.contextPath}/webtrans/Application.html">
		<f:param name="project" value="#{_iteration.project.slug}"/>
		<f:param name="iteration" value="#{_iteration.slug}"/>
		<f:param name="localeId" value="#{tribe.localeId.id}"/>
		<f:param name="gwt.codesvr" value="127.0.0.1:9997"/>
		<f:param name="locale" value="#{locale.language}" />
		#{messages['jsf.TranslateGWTDevMode']}
      </h:outputLink>
    </rich:column>
    <rich:column id="files">
      <s:link
          rendered="#{s:hasPermission(projectHome.instance, 'modify-translation', tribe)}"
          view="/project/iteration_files.xhtml"
          propagation="none"
          value="#{messages['jsf.Files']}">
        <f:param name="project" value="#{_iteration.project.slug}"/>
        <f:param name="iteration" value="#{_iteration.slug}"/>
        <f:param name="localeId" value="#{tribe.localeId.id}"/>
      </s:link>
    </rich:column>
    <rich:column id="status">
      <ui:param name="tstatus" value="#{iterationTranslationAction.getWordStatsForContainer(_iteration.id, tribe.localeId)}" />
      <ui:include src="statsbar.xhtml">
        <ui:param name="status" value="#{tstatus}" />
      </ui:include>
    </rich:column>
  </rich:dataTable>
</div>

</ui:composition>
