<a4j:form id="projectForm"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a4j="http://richfaces.org/a4j"
>

    <s:token allowMultiplePosts="true" />
    <rich:panel>
        <s:decorate id="slugField" template="edit.xhtml">
            <ui:define name="label">#{messages['jsf.ProjectId']}</ui:define>
            <h:outputText rendered="#{projectHome.managed}" value="#{projectHome.instance.slug}" />
            <h:inputText rendered="#{not projectHome.managed}"
                         id="slug" required="true"
                         value="#{projectHome.instance.slug}" 
                         valueChangeListener="#{projectHome.verifySlugAvailable}">
              <a4j:support event="onblur" reRender="slugField" ajaxSingle="true"/>
            </h:inputText>
            <h:graphicImage id="slugHelp" value="/public-img/msginfo.png" styleClass="input_help">
	        <rich:toolTip>
	          <em><code>#{messages['jsf.ProjectIdExample']}</code></em>
	        </rich:toolTip>
	     </h:graphicImage>
       </s:decorate>

        <s:decorate id="nameField" template="edit.xhtml">
            <ui:define name="label">#{messages['jsf.Name']}</ui:define>
            <h:inputText id="name" required="true"
                         value="#{projectHome.instance.name}"/>
        </s:decorate>

        <s:decorate id="descriptionField" template="edit.xhtml">
            <ui:define name="label">#{messages['jsf.Description']}</ui:define>
            <h:inputText id="description" required="false"
                         value="#{projectHome.instance.description}" style="width:400px;"/>
        </s:decorate>

        <s:decorate id="homeContentField" template="edit.xhtml">
            <ui:define name="label">#{messages['jsf.HomepageContent']}</ui:define>
             <rich:editor id="homeContent" 
                width="400" height="300" style="width:400px;"
                required="false"
                value="#{projectHome.instance.homeContent}"
                viewMode="visual" 
                useSeamText="true"
                configuration="richeditor"
                theme="advanced">
            </rich:editor>
        </s:decorate>
	
	    <s:decorate id="obsoleteField" template="edit.xhtml" rendered="#{projectHome.checkPermission('mark-obsolete')}">
	        <ui:define name="label">#{messages['jsf.Obsolete']}</ui:define>
	        <h:selectBooleanCheckbox id="obsolete" value="#{projectHome.instance.obsolete}"/>
	    </s:decorate>
                        
        <div style="clear:both"></div>

    </rich:panel>

	<s:div>
		<a4j:region>
		<h:selectBooleanCheckbox
		 title="overrideLocales"
		  value="#{localeListAction.setting}" >
			<a4j:support event="onchange" reRender="languagelist" />
		</h:selectBooleanCheckbox>
		</a4j:region>
		<h:outputText
		  value="Would you like add a customized list of locales?"/>
	</s:div>


	<s:div id="languagelist">
	<rich:spacer height="20px" />
	<a4j:region renderRegionOnly="true">
      	<h:panelGrid columns="3" id ="languagePanel" rendered="#{localeListAction.setting}">
	    <h:outputText value="#{messages['jsf.AvailableLocales']}"/>
	    <h:outputText value=""/>
	    <h:outputText value="#{messages['jsf.SelectedLocales']}"/>
            <h:selectManyListbox id ="languagelist2" value="#{localeListAction.availableList}" styleClass="language_list">
                <f:selectItems value="#{availableItems}"/>
		<a4j:support event="ondblclick" reRender="languagePanel" action="#{localeListAction.toCustomizedLocales}"/>
            </h:selectManyListbox>
            <h:panelGroup id="buttons" styleClass="language_action_buttons">
                <a4j:commandButton value="#{messages['jsf.AddLocale']}" action="#{localeListAction.toCustomizedLocales}" styleClass="language_action_button" reRender ="languagePanel" />
                <a4j:commandButton value="#{messages['jsf.RemoveLocale']}" action="#{localeListAction.removeFromCustomizedLocales}" styleClass="language_action_button" reRender ="languagePanel" />
            </h:panelGroup>
            <h:selectManyListbox id="languagelist1" value="#{localeListAction.customizedLocales}" styleClass="language_list" >
                <f:selectItems value="#{localeListAction.customizedItems}"/>
		<a4j:support event="ondblclick" reRender="languagePanel" action="#{localeListAction.removeFromCustomizedLocales}"/>
            </h:selectManyListbox>
      	</h:panelGrid>
	</a4j:region>
	</s:div>

    <div class="actionButtons">
        <h:commandButton id="save"
                      value="#{messages['jsf.Save']}"
                     action="#{projectHome.persist}"
                   rendered="#{!projectHome.managed}"/>
        <h:commandButton id="update"
                      value="#{messages['jsf.Update']}"
                     action="#{projectHome.update}"
                   rendered="#{projectHome.managed}"/>
        <s:button id="cancel"
                        value="#{messages['jsf.Cancel']}"
                        propagation="none"
                       action="#{projectHome.cancel}"/>
    </div>

</a4j:form>
