<div id="search_panel"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:rich="http://richfaces.org/rich">
  
  <form method="get" action="#{request.contextPath}/search.seam">
     <h:inputText id="q" styleClass="with_icon search_icon"  value="#{projectSearch.searchQuery}"/>
     <input type="submit" value="#{messages['jsf.SearchProjects']}"/>
  </form>
  
</div>
