<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view contentType="text/html" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:h="http://java.sun.com/jsf/html"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:a="http://richfaces.org/a4j"
  xmlns:s="http://jboss.com/products/seam/taglib"
  xmlns:rich="http://richfaces.org/rich"
  xmlns:a4j="http://richfaces.org/a4j">
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>#{messages['jsf.ZanataMainTitle']}</title>
		<link rel="shortcut icon"
		  href="#{request.contextPath}/public-img/favicon.ico" type="image/x-icon" />
		<a:loadStyle src="/stylesheet/reset-fonts-grids.css" />
		<a:loadStyle src="/stylesheet/base-min.css" />
		<a:loadStyle src="/stylesheet/theme.css" />
		<a:loadStyle src="/stylesheet/zanata.css" />
		<a:loadStyle src="/stylesheet/tabs.css" />
		<a:loadStyle src="/stylesheet/zanata-theme.css" />
		<ui:insert name="head" />
	</head>

	<body>

		<div id="container">
			<div id="banner">
        		<div id="headerlogo">
					<s:link view="/home.xhtml" propagation="none">
						<img src="#{requestContextPath}/public-img/logo.png" alt="#{messages['jsf.ZanataMainDescription']}" />
					</s:link>
				</div>
        		<div id="header_top_right">
					<h:outputText rendered="#{identity.loggedIn}"
					value="#{identity.username} " />
					<s:fragment rendered="#{not identity.loggedIn}">
					<s:link id="Sign_in" view="/account/login.xhtml"
					value="#{messages['jsf.SignIn']}" propagation="none" />
					<rich:spacer width="10px" />
					<s:link id="Register" view="/account/register.xhtml"
					value="#{messages['jsf.Register']}" propagation="none" rendered="#{applicationConfiguration.internalAuth}"/>
					<s:fragment rendered="#{not applicationConfiguration.internalAuth}">
					<a href="#{applicationConfiguration.registerPath}">#{messages['jsf.Register']}</a>
					</s:fragment>
					</s:fragment>
					<s:link id="Sign_out" view="/home.xhtml" action="#{identity.logout}"
					value="#{messages['jsf.SignOut']}" rendered="#{identity.loggedIn}" propagation="none" />
				</div>
				<div id="loading_top_right">
					<a:status>
					<f:facet name="start">
					<h:graphicImage value="/public-img/loading.gif" />
					</f:facet>
					</a:status>
				</div>
				
			</div>
	
			<div id="tabs-menu">
        		<ui:include src="menu.xhtml">
				<ui:param name="projectName" value="zanata" />
				</ui:include>
			</div>
			   

			<div id="bd">
			    <ui:include src="search_panel.xhtml" />
				<div id="yui-main">
					<div class="yui-b">
						<a:outputPanel ajaxRendered="true">
						<h:messages id="messages" globalOnly="true" styleClass="message"
						errorClass="errormsg" infoClass="infomsg" warnClass="warnmsg"
						rendered="#{showGlobalMessages != 'false'}" />
						</a:outputPanel>
						<div id="main_body_content">
							<ui:insert name="center_content" />
						</div>
					</div>
				</div>
				<div class="yui-b">
        			<ui:insert name="left_content" />
				</div>
			</div>
				
			<div id="ft">
				<div id="footer">
					<div id="footer-text">
						#{messages['jsf.Copyright']} #{messages['jsf.CopyrightYearInfo']}
						<a href="http://www.redhat.com/">#{messages['jsf.ManufacturerInfo']}</a> #{messages['jsf.AndOthers']}.
						#{messages['jsf.PoweredBy']} <a href="http://zanata.org/">#{messages['jsf.Zanata']}</a>.
						<br/>#{messages['jsf.RunningVersionInfo']}
					</div>
					<div id="localeSelector">
						<h:form id="localeSelector_form">
						<h:selectOneMenu id="Select"
						value="#{localeSelector.localeString}" valueChangeListener="#{localeSelector.select}" onchange="submit()" >
		                <f:selectItems value="#{localeSelector.supportedLocales}"/>
						</h:selectOneMenu>
						</h:form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
</f:view>
