/* <!-- */

th, td {
    border: none;
    padding: 0px;
}

html{
	background-color: transparent;
}

body{
	margin: 0px;
}

#doc3, #doc4{
	background-color: white;
}

.yui-b{
	padding: 5px;
	float: right;
	width: 200px;
}

table{
    margin: 0px;
}

#main_body_content>h1, #main_body_content>h2 {
	margin: 5px 0 5px 0;
}

input, textarea {
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border:1px solid #BBBBBB;
	padding: 3px;
	color: #222222;
	font-weight: bold;
}
button, input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"], input[type="button"]  {
	color: #222222;
	padding:2px;
	margin-left: 2px;
	margin-right: 2px;
}

button, input[type="reset"], input[type="submit"], input[type="button"]  {
	background-color: #fafafa;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
}

input.with_icon {
	background-position:5px 50%;
	background-repeat:no-repeat;
	padding-left: 25px;
	height:18px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
}

textarea.code_editor {
	font-family: Courier;
	font-size: 11px;
	font-weight: normal;
	width: 450px;
	height: 300px;
}

.search_icon{
	background-image: url(../public-img/silk/zoom.png);
}

.input_help{
	vertical-align: middle;
	padding-left: 2px;
	/* error img takes up 16px */
	padding-right: 2px;
}

.input_nohelp{
	display: inline;
}

.rich-table {
	width: 100%;
}

.columnHeader:hover {
	color: #FF6600;
}

.message {
	padding: 5px;
	list-style: none;
	color: #000000;
	margin: 5px 0 8px 0;
}

.message li {
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	background: no-repeat left center;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.message li.infomsg {
	background-image: url(../public-img/msginfo.png);
	background-color: #fafafe;
}

.message li.errormsg {
	background-image: url(../public-img/msgerror.png);
	background-color: #fefafa;
}

.message li.warnmsg {
	background-image: url(../public-img/msgwarn.png);
	background-color: #fefefa;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 130px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.prop{
	vertical-align: middle;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #F00000;
	vertical-align: middle;
}

img.errors {
	padding-left: 5px;
	padding-right: 5px;
}

.errors input,.errors textarea {
	border: 1px solid #F00000 !important;
	background-color: #FFFAFA;
}

.required {
	color: #F00000;
	padding-left: 2px;
}

.rich-stglpanel {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.rich-stglpanel-body {
	overflow: auto;
}

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}

.rich-panel input[type=submit],.rich-panel input[type=button],.rich-tabpanel input[type=submit],.rich-tabpanel input[type=button]
	{
	margin-bottom: 0;
}

.actionButtons {
	padding-top: 10px;
	padding-right: 10px;
	text-align: left;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

div.info {
	
}

ul.bullets {
	list-style: square;
}

ul.bullets li {
	padding-bottom: 2px;
}

td.action {
	text-align: center;
	width: 8em;
	white-space: nowrap;
}

td.action a {
	padding-left: 1px;
	padding-right: 1px;
}

td.centered {
	text-align: center;
}

#zanata_name {
	float: left;
	text-align: left;
    padding-top: 30px;
}

#zanata_name a{
    text-align: left;
    text-shadow: 2px;
    font-family: Arial,Verdana,sans-serif;
    font-size : 40px;
    font-weight: heavy;
    color: black;
    text-decoration: none;
}

#header{
	position: relative;
    width:100%;
    height:60px; 
}

#header.fullscreen{
	margin-bottom: 20px;
}

#headerlogo {
	float: left;
}

#header_top_right {
	float: right;
	padding: 10px 20px;
	margin: 0px;
}

#tabs_menu_wrapper {
	margin-bottom: 10px;
}

#loading_top_right {
	position: fixed;
	right: 2px;
	top: 2px;
}

/* Footer styles */
#footer {
	width:100%; 
	line-height:20px; 
	text-align:center; 
	padding-top:10px;
}

#localeSelector {
	float: right;
	padding-top: 0px;
}

/* Styles from the security-stuff in seamspace*/
div.checkmark {
	background: url(../public-img/silk/tick.png) top left no-repeat;
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
}

div.cross {
	background: url(../public-img/silk/cross.png) top left no-repeat;
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
}

tr.odd {
	background-color: #ffffff;
}

tr.even {
	background-color: #fafaff;
}

tr.hover-row {
	/* background-color: #FFEBDA;*/
	cursor: pointer;
}


.iterationHeader_active {
	background-image: none;
	border-width: medium;
	background-color: #ffffff;
	color: #000000;
	border-color: #ffffff;
}

.iterationHeader_retired,.iterationHeader_obsolete{
    background-image: none;
    border-width: medium;
    background-color: #e5e5e5;
    color: #000000;
    border-color: #e5e5e5;
}

#iteration-status-panel {
    width:880px;
}

td.enabled {
	text-align: center;
}

td.action {
	text-align: right;
}

table.fullwidth {
	width: 100%
}

#search_panel {
	float: right;
	clear: right;
	padding-top: 0px;
	padding-bottom: 5px;
	color: #999999;
}

#projectList h3 {
	margin-bottom: 2px;
}

#projectList .no-description {
	color: #777777;
}

#projectList .description {
	color: #777777;
}

.actions {
	float: left;
}

.projectList td {
	margin-top: 0px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.projectList h3 {
	margin-top: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
}

.rich-panel {
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 10px;
}

.rich-panel-header {
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	text-align: center;
}

.rich-panel-body {
	border: 1px solid;
	border-color: #f4f4f4;
}

.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}

.panel-body-no-padding{
	padding: 0px;
	overflow: hidden;
}

.grid_style{
	border: none;
}
	
.inline_cell_item{
    width: 100%;
    float: left;
    margin: 0px;
}

.list_view_header{
	width: 100%;
	padding-bottom: 3px;
}
.list_view_header h2{
	display: inline;
	margin-top: 0px;
	margin-bottom: 3px;
}

.list_view_header h2>a{
	text-decoration: none;
	float: left;
}

.list_view_header .series_name{
	font-style: italic;
	font-size: 80%;
	color: gray;
}

.list_view_header .menu_items{
	float: right;
	display: inline;
	text-align: right;
	margin-bottom: 6px;
}


a.action_link {
	display: block;
	font-size: 130%;
	font-weight: bold;
	background-color: #EDF0FF;
	border: 2px solid #E6E9F7;
	padding: 4px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #7092C3;
	text-decoration: none;
	margin: 1px;
	text-align: center;
}

a.table_link {
	font-size: 14px;
	font-weight: bold;
	padding: 4px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #7092C3;
	text-decoration: none;
	margin: 1px;
	text-align: right;
}

.obsolete{
    font-style: italic;
    text-decoration: line-through;
}

a.obsolete_link, a.obsolete_link:visited, a.obsolete_link:link{
    font-style: italic;
    color:#0A315D;
    text-decoration: line-through;
}

a.action_link:hover {
	background-color: #F5F8FF;
	border: 2px solid #F6F9F7;
	color: #80A2C3;
}

.iteration_inline_tribes{
	
}

.translator_color_block{
    width: 15px;
    height: 15px;
    background-color: #f2fbfb;
    border: 2px solid #e2ebeb;  
}

#LeftAndCenterSplitter {
	/* Height is set to match window size in $().ready() below */
	min-width:	600px;
	min-height: 400px;
}

#LeftContent{
	overflow-x: hidden;
	overflow-y: auto;
}
#RightContent{
	overflow-x: hidden;
	overflow-y: auto;
}

.translationStatusDiv{
	float:left;
    display: block;
    padding: 3px;
    padding-right: 6px;
    margin-right:5px;
    width: 144px;
    height: 14px;
}

.statusBar_percentage {
    font-size: 12px;
    font-weight: bold;
    padding-left:2px;
}

.statusBar_noContent {
    font-size: 12px;
    text-align:center;
    width:142px;
    padding: 3px;
    padding-right: 6px;
    margin-right:5px;
}

.translationStatusBar {
    float:left;
    display: block;
    height: 14px;
    margin:0;
    padding:0;
}

.statusBar_approved{
    background-color:#099b09;
}

.statusBar_needReview{
    background-color:#ffc000;
}

.statusBar_untranslated{
    background-color:#e5e5e5;
}


.language_list {
    font-size: 12px;
    height: 200px;
    width: 300px;
}
.language_action_buttons {
}
.language_action_button {
    width: 70px;
}

/* Stylesheet from June */
@charset "UTF-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea,blockquote, th, td { padding: 0;margin: 0;}   
fieldset,img {border: 0;}
.clear{ clear:both;}
.absright{ position:absolute; top:5px; right:5px;}
.icon{ background:url(../public-img/icon.png) no-repeat; padding-left:18px; border:none}
input[type='button']{ cursor:pointer}

body{ font-size:12px; font-family:Tahoma, Geneva, sans-serif;}
.logo{ background:url(../public-img/logo.png) no-repeat left top; width:187px; height:60px;}

.content{ margin:20px auto; width:98%;}
.box_content{ width:280px; float:left; margin:10px;}
.top_box_content{ background:url(../public-img/top_bg.png) repeat-x left top #c9e9fc;-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px;-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px; width:100%; height:32px; border:solid 1px #c4e5fb; border-bottom:solid 1px #d5d7d6; font-weight:bold; line-height:33px; font-size:14px}
.top_box_content span{ margin-left:10px;}
.middle_box_content{ background:url(../public-img/middle_bg.png) repeat-x left top #fffdde;border:solid 1px #d5d7d6;width:100%;height:80px; overflow:auto;overflow-x:hidden; margin-top:-1px;}
.middle_box_content ul { margin:10px;}
.middle_box_content ul li{ list-style:none; margin:5px 0;}
.bottom_box_content{ background:url(../public-img/bottom_bg.png) repeat-x left top #ececec;-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px; width:100%; height:32px; border:solid 1px #d5d7d6; border-bottom:solid 1px #d5d7d6; font-weight:bold; line-height:33px; margin-top:-1px; text-align:right;}
.bottom_box_content a:link,.bottom_box_content a:visited{ margin-right:10px; font-weight:bold; color:#002f5e; background:url(../public-img/icon.png) no-repeat left top; padding-left:18px;}
.bottom_box_content a:hover{ color:#F60;}


.footer{ height:50px; line-height:20px; text-align:center; padding-top:15px;}

/* --> */
