body {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	background-color: #ffffff;
}

a, a:link, a:visited {
	text-decoration: none;
}

a:hover {
	color: #990000;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	padding: 0;
}

#container {
	width: 900px;
	margin: 0 auto;
	background-color: #ffffff;
}

#headerlogo {
	padding-top: 6px;
}
#banner {
	float: left;
	width: 900px;
	background: #ffffff;
	padding-bottom:10px;
}

#banner-menu {
	float: right;
	width: 300px;
	height: 100px;
}

#login-menu {
	float: right;
	height: 50px;
}

#search {
	float:right;
	height: 50px;
}

#menu-container {
	float: left;
	height: 40px;
	width: 100%;
	
}

#main-container {
	float: left;
	width: 100%;

}

#bd {
	width: 900px;
	padding: 10px 0;
	background-color: #ffffff;
	float: left;
	text-align: left;
}

#ft {
	width: 900px;
	float: left;
	color: #000000;
	text-align: center;
	background-color: #c8e0fa;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#footer-text {
	float: left;
	margin-left: 100px;
	width: 700px;
}

#localeSelector {
	float: left;
	width: 100px;
}

#content {
	float: left;
}

#login-menu ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

#header_top_right {
	background-color: #ffffff;
	border-left: #999999 solid 1px;
	border-right: #999999 solid 1px;
	border-bottom: #999999 solid 1px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#login-menu ul li {
	list-style: none;
	float: left;
	margin: 5px 10px;
	padding: 0;
	line-height: 50px;
}

#login-menu ul li a {
	color: #000000;
}

#login-menu ul li a:hover {
	color: #ff0000;
}

#search form {
	float: right;
	height: 30px;
	margin: 10px 0;
}

#search input {
	float: left;
	vertical-align: middle;
}

#yui-main {
	float: left;

	width: 680px !important;
}

.reindexStatusIndicator {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
}

/** theme.css **/

.rich-table {
	width: 100%;
}

.inline_cell_item{
    width: 100%;
    float: left;
    margin: 0px;
}

/* for the benefit of richfaces' rich:editor */
.bold-larger {
	font-weight:bold;
	font-size:larger;
}
.bold-smaller {
	font-weight:bold;
	font-size:smaller;
}
.red-bold {
	font-weight:bold;
	color:red;
}
.red-bold-larger {
	font-weight:bold;
	font-size:larger;
	color:red;
}
.red-bold-smaller {
	font-weight:bold;
	font-size:smaller;
	color:red;
}

.noBorderTable .rich-table {
 border-width: 0px;
}
 
.noBorderTable .rich-table-headercell {
 border-width: 0px;
}
 
.noBorderTable .rich-table-cell {
 border-width: 0px;
}

.code{
	color:grey;
}

.showObsoleteOption{
	float: right;
}
