#bd {
	min-height: 400px;
}

.rich-panel-header {
	/* background-color: #320032;
	border-color: #320032;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px; */
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.rich-panel {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}	

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,.rich-stglpanel .rich-stglpanel-header {
	background-image: none;
	
}

#header_top_right {
	-webkit-box-shadow: 0 0 8px #aaa;
	box-shadow: 0 0 8px #aaa;
	-moz-box-shadow: 0 0 8px #aaa;
	border: 1px solid #CCC;
}

#tabs-menu {
	font-weight: bold;
	background: url('../public-img/bar_background.png') 0 0 repeat-x;
	border: 1px solid #EAEAEA;
	border-bottom-color: #CACACA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#tabs .ui-tabs-nav {
	border-left: 0px;
}

#tabs .ui-tabs-nav li {
	border-right: 0px;
}

#tabs .ui-tabs-nav li.ui-tabs-selected {
	border-top-width: 1px;
	border-top-color: #C1BFBF;
	border-top-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C1BFBF;
}

#tabs .ui-tabs-nav li.ui-tabs-selected a {
	background-color: #d3d3d3;
	color: black;
}

.ui-tabs-nav-issues ul {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top: none;
}

#ft {
	background: url('../public-img/footer_background.png') 0 0 repeat-x;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}